<div class="container">
  <h1>Welcome to Craigslist!</h1>
</div>

<div class="container">
  <h1><a href="/see_cars">See All Cars</a><h1>
    <h2><a href="/create_car_form">List Your Car</a></h2>
</div>

<div class="container">
  <h1><a href="see_lawnmowers">See All Lawnmowers</a></h1>
    <h2><a href="/create_lawnmower_form">List Your Lawnmower</a></h2>
</div>
